---
import Layout from "../layouts/Layout.astro";
import Header from "@organisms/Header.astro";
import Hero from "@sections/Hero.astro";
import ServicesSection from "@sections/ServicesSection.astro";
import SystemsSection from "@sections/SystemsSection.astro";
import BenefitsSection from "@sections/BenefitsSection.astro";
import StatsSection from "@sections/StatsSection.astro";
import TestimonialsSection from "@sections/TestimonialsSection.astro";
import ContactSection from "@sections/ContactSection.astro";
import Footer from "@organisms/Footer.astro";
import TrustedCompaniesMarquee from "@organisms/TrustedCompaniesMarquee.astro";
---

<Layout>
  <Header />
  <main id="contenido-principal">
    <Hero />
    <TrustedCompaniesMarquee />
    <ServicesSection />
    <SystemsSection />
    <StatsSection />
    <BenefitsSection />
    <TestimonialsSection />
    <ContactSection />
  </main>
  <Footer />
</Layout>
